{erl_opts, [debug_info]}.

{deps, [
  {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.0"}}},
  {meck,  {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
  {sync,  {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.1"}}}
]}.
